<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.g14.mathappg14"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:label="@string/title_activity_password" >
        </activity>
        <activity
            android:name="cmpt276.g14.mathappg14.Topics.TopicsActivity"
            android:label="@string/title_activity_topics" >
        </activity>
        <activity
            android:name="cmpt276.g14.mathappg14.Topics.Topic11"
            android:label="@string/title_activity_topic11" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
